@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.pagination {
  padding: 16px;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    @include mixins.font('Lexend Deca', variables.$gray, 18, 300);
    padding: 7px 0px;

    &--active {
      @include mixins.font('Lexend Deca', variables.$white, 18, 600);
      background-color: variables.$orange;
      padding: 7px 10px;
      border-radius: 5px;
    }

    &--disabled {
      color: variables.$white-gray;
    }
  }
}
