@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.section-other-gallery {
  margin-top: 154px;
}

.other-gallery {
  @include mixins.flex-center;
  margin-top: 40px;
  gap: 16px;
  flex-wrap: wrap;
}
