@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.main {
  margin: 88px 0;
}
.page-title {
  @include mixins.font('Lexend Deca', variables.$gray, 64, 700);
  line-height: 80px;
  text-align: center;

  &-highlight {
    color: variables.$orange;
  }

  @media (min-width: 991.98px) {
    &-highlight::after {
      content: '';
      display: block;
    }
  }
}

.form {
  @include mixins.flex-space;
  max-width: 762px;
  flex: 1 1 auto;
  background-color: variables.$light-gray;
  margin: 72px auto 120px auto;
  padding: 16px;
  border-radius: 16px;

  &.input-error {
    border: 1px solid variables.$red;
  }

  &__field {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border: none;
    width: 100%;
    background-color: inherit;
  }
}

.loader {
  width: 100%;
  margin: 100px 0;
  @include mixins.flex-center;
}
