@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.gallery {
  @include mixins.flex-center;
  margin: 40px 0 174px 0;
  gap: 4%;
  flex-wrap: wrap;
}

.section__subtitle {
  color: variables.$yellow;
}

.section__title {
  font-size: 32px;
  line-height: 40px;
}

.section__subtitle,
.section__title {
  font-family: 'Lexend Deca';
  text-align: center;
}
