@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.favorites-title-highlight {
  @include mixins.flex-center;
  color: variables.$orange;

  @media (min-width: 991.98px) {
    &::before {
      content: '';
      display: block;
    }
  }
}

.section-favorites {
  margin-top: 120px;
}
