@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.art-block {
  position: relative;
  height: auto;
  margin-bottom: 75px;

  &__description {
    @include mixins.flex-space;
    background-color: variables.$white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 86%;
    padding: 17px 24px;
  }

  &__add-bookmark {
    @include mixins.flex-center;
    border-radius: 50%;
    background-color: variables.$light-orange;
    padding: 18px;
    margin-left: auto;
  }

  &__title {
    @include mixins.font('Lexend Deca', variables.$gray, 18, 500);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__author {
    @include mixins.font('Lexend Deca', variables.$yellow, 16);
    padding: 5px 0 12px 0;
  }

  &__availability {
    @include mixins.font('Lexend Deca', variables.$gray, 16, 700);
  }
}
