@use '../../assets/styles/mixins';
@use '../../assets/styles/variables';

.art-block {
  position: relative;
  min-height: 200px;
  width: 305px;
  margin-bottom: 75px;
  background-color: variables.$light-orange;

  img::before {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  &__description {
    @include mixins.flex-space;
    background-color: variables.$white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 86%;
    padding: 17px 24px;
  }

  &__add-bookmark {
    @include mixins.flex-center;
    border-radius: 50%;
    background-color: variables.$light-orange;
    padding: 18px;
    margin-left: auto;
  }

  &__title {
    @include mixins.font(variables.$gray, 18, 500);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 2px;
  }

  &__author {
    @include mixins.font(variables.$yellow, 16);
    padding: 3px 0 12px 0;
  }

  &__availability {
    @include mixins.font(variables.$gray, 16, 700);
  }
}
