@mixin flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin font($color, $font-size, $font-weight: 400) {
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size + px;
}
